@model ExpressVoitures.ViewModels.CarCreateViewModel

@{
    ViewData["Title"] = "Create";
}
<link href="https://fonts.googleapis.com/css2?family=Libre+Baskerville&display=swap" rel="stylesheet">

<link rel="stylesheet" href="~/css/Create.css" />
<div class="container">
    <h1 class="form-title">Ajouter une voiture</h1>
    <p class="form-subtitle">tous les champs sont obligatoires</p>
    <form asp-action="Create" method="post" enctype="multipart/form-data">

        <div class="form-group">
            <label asp-for="SellingPrice" class="control-label">Prix de vente</label>
            <input asp-for="SellingPrice" class="form-control" type="number" />
            <span asp-validation-for="SellingPrice" class="text-danger"></span>
        </div>

        <div class="form-group">
            <label asp-for="Year" class="control-label">Année</label>
            <input asp-for="Year" class="form-control" type="number" />
            <span asp-validation-for="Year" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label for="Brand" class="control-label">Marque</label>
            <select class="form-control" id="Brand" name="Brand">
                @foreach (var brand in Model.BrandList)
                {
                    <option value="@brand.Value">@brand.Text</option>

                }
            </select>
            <span asp-validation-for="Model" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label for="ModelSelect" class="control-label">Marque</label>
            <select class="form-control" id="ModelSelect" name="Model">
                @foreach (var modele in Model.ModelList!)
                {
                    <option value="@modele.Value">@modele.Text</option>

                }
            </select>
            <span asp-validation-for="Model" class="text-danger"></span>
        </div>

        @*  <div class="form-group">
            <label for="Brand" class="control-label">Marque</label>
            <input type="text" class="form-control" id="Brand" name="Brand" list="brandList" value="@Model.Brand" />
            <datalist id="brandList">
                @foreach (var brand in Model.BrandList!)
                {
                    <option value="@brand.Value"></option>
                }
            </datalist>
            <span asp-validation-for="Brand" class="text-danger"></span>
        </div> *@

        

        

        <div class="form-group">
            <label asp-for="Finition" class="control-label">Finition</label>
            <input asp-for="Finition" class="form-control" type="text" />
            <span asp-validation-for="Finition" class="text-danger"></span>
        </div>

        <div class="form-group">
            <label asp-for="Image" class="control-label">Visuel</label>
            <div class="file-upload-wrapper">
                <label for="Image" class="file-upload-button">
                    Ajouter une image
                </label>
                <input type="file" asp-for="Image" class="form-control" id="Image" accept="image/*" />
            </div>
        </div>

        <div class="form-group">
            <input type="submit" value="Publier" />
        </div>
    </form>
</div>


