@model ExpressVoitures.Models.Car

@{
    ViewData["Title"] = "Delete";
}
<link rel="stylesheet" href="~/css/Detail.css" />
<div class="container">
    <a href="/Car" class="back-link">
        <span class="back-arrow">Retour</span>
    </a>

    <div class="car-detail">
        <img src="~/images/@Model.ImageUrl" alt="Voiture" class="car-image">

        <div class="car-info">
            <h2 class="price-title">@Model.SellingPrice</h2>

            <div class="info-list">
                <p class="info-row">@Model.Year</p>
                <p class="info-row">@Model.CarBrandModel.CarBrand.CarBrandName</p>
                <p class="info-row">@Model.CarBrandModel.CarModel.CarModelName</p>
                <p class="info-row">@Model.Finition</p>
            </div>
            <form asp-action="Delete">
                <input type="hidden" asp-for="CarId" />
                <input type="submit" value="Supprimer" class="btn btn-danger" />
            </form>
        </div>
        
    </div>
</div>


